<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoderHouse</title>
</head>

<body>
    <h1>DJANGO</h1>
    <ol>
        <li><a href="ver_notas" >Ir a NOTAS</a></li>
        <br / >
        <li><a href="ejercicio2/" >Ir a ejercicio2</a></li>
        <br />
        <li><a href="tirar_dados/">Ir a Dados!</a></li>
        <br />
    </ol>
    <footer>Hecho en año {{ año }} </footer>
</body>

</html>